.booster {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.booster img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.booster-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booster button {
    width: 100%;
}

.booster:hover button {
    background-color: green;
    color: white;
}